.login {
    width: 40vw;
    max-width: 675px;
    height: 70vh;
    background-color: #263f39;
    color: #c5e8da;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.login h1 {
    color: white;
    flex: 1;
    font-size: 5rem;
}

.error {
    background-color: #F1AEB5;
    padding: 0.1rem;
    text-align: center;
    border: 1px solid #dc3545;
    border-radius: 5px;
}

.error p {
    font-size: 2rem;
    color: #dc3545;
}

.off {
    display: none;
}

.form {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.field {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.field label {

    font-size: 2rem;
}

.field input {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    border: none;
    background-color: whitesmoke;
}

.actions button {
    cursor: pointer;
    font-size: 2rem;
    background-color: #c5e8da;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.links {
    text-align: end;
}

.links a {
    font-size: 1.5rem;
    color: white;
}